<div id="carouselExampleCaptions" class="carousel slide">
        
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.constructionweekonline.in/cloud/2022/10/12/Insurance-1-1.jpg" class="d-block w-100" height="480" alt="...">
        <div class="carousel-caption d-none d-md-block" style="font-size: 100%;" >
          <h1 style="text-align: left;"></h1>
        </div>
      </div>
    </div>
  <br>
  <br>
  
<br>


      <div class="card mb-3" style="max-width: 1500px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://th.bing.com/th/id/R.27463148c43eb80e422a3ed7fd47d75a?rik=S5OXA30SCz6xXA&riu=http%3a%2f%2fwww.forbesindia.com%2fmedia%2fimages%2f2018%2fMay%2fimg_106009_right_insurance_bgcopy.jpg&ehk=Wg%2fGuJV72uufGr%2f%2fDReS9pl6QpfrKkM1dWNvSddiXD4%3d&risl=&pid=ImgRaw&r=0" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Unlocking the potential of insurance through technology</h5>
                <p class="card-text">    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leveraging our rich technical & domain expertise and competitive cost advantages, NeST works with Insurance solution platform providers and technology companies.

                  We deliver Digital solutions, Product implementation, development, maintenance, migration and sustenance services relating to Core Insurance Administration products, applications, compliance, automated back-office operations and enhanced customer experience.</p>
                <p class="card-text"><small class="text-body-secondary"></small></p>
              </div>
            </div>
          </div>
        </div>
  
  <br>
  <footer class="text-center text-white" style="background-color: #45637d;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Iframe -->
      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9">
              <iframe
                class="shadow-1-strong rounded"
               src="https://www.youtube.com/embed/SjB2Ia-7FGo" title="Driving Innovation in Insurance | NeST Digital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->
  
    
  </footer>
  <br>
  <br>
