



<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.framtid.se/files/1200x500/shutterstock_632579702.jpg?1694794050"class="d-block w-100" height="480"   alt="..."  >
        
        <div class="carousel-caption d-none d-md-block" style="color: rgb(8, 8, 8);">
          <h1>HARNESSING WORLD-CLASS TECHNOLOGY</h1>
          <h3>Creating boundless impact.<br><br><br><br></h3>
        </div>
      </div>
    </div>
</div>

<app-accordian></app-accordian>