


<br>
<br>

  <br>
  <br><br>

<footer class="bg-body-tertiary text-center text-lg-start" style="color: rgb(221, 173, 32);">
  <!-- Grid container -->
  <div class="container p-4" style="color: rgb(44, 44, 144);">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase"> QUICK LINKS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/home" class="text-body" >Home</a>
          </li>
      
        <li>
            <a href="/department" class="text-body" >Department</a>
          </li>
          <li>
            <a href="/contact" class="text-body" >Contact us</a>
          </li>
          <li>
            <a href="#!" class="text-body"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">DEPARTMENTS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="aerospace and defence.html" class="text-body">Aerospace and Defence</a>
          </li>
          <li>
            <a href="banking and financial .html" class="text-body">Banking and Finance</a>
          </li>
          <li>
            <a href="healthcare.html" class="text-body">Healthcare</a>
          </li>
          <li>
            <a href="locomotive.html" class="text-body">Locomotive</a>
          </li>
          <li>
            <li>
            <a href="industrial.html" class="text-body">Industrial</a>
          </li>
          <li>
            <a href="mobility.html" class="text-body">Mobility</a>
          </li>
          <li>
            <a href="insurance.html" class="text-body">Insurance</a>
          </li><li>
            <a href="gis.html" class="text-body">GIS</a>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">SERVICES</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-body">Cloud Services</a>
          </li>
          <li>
            <a href="#!" class="text-body">Cyber Security</a>
          </li>
          <li>
            <a href="#!" class="text-body">Database Engineering</a>
          </li>
          <li>
            <a href="#!" class="text-body">DevOps</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Get updates on our insights stay connected with NeSTDigital.<br>Get in touch with us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contact" class="text-body" style="background-color: cadetblue;">CONTACT US</a>
          </li>
          <li>
            <a href="#!" class="text-body"></a>
          </li>
          <li>
            <a href="#!" class="text-body"></a>
          </li>
          <li>
            <a href="#!" class="text-body"></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="">NeSTDigital</a>
  </div>
  <!-- Copyright -->
</footer>
